[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "plgraphics"]
	path = plgraphics
	url = https://github.com/cran/plgraphics
[submodule "relevance"]
	path = relevance
	url = https://github.com/cran/relevance
